/* Tailwind Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Library CSS import */
@import url("react-toastify/dist/ReactToastify.css");

@layer base {
    /* Specify default font below */
    html {
        font-family: "DM Sans", sans-serif;
    }

    /* Daisy UI Resets */
    /* =========================== */
    .input:focus,
    .select:focus,
    .textarea:focus,
    .file-input:focus {
        @apply outline-0 !important;
    }

    .select {
        @apply font-normal !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
    /* =========================== */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-height: 100vh;
    padding: 10px;
    /* overflow: hidden; */
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .spinBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1rem;
    border: 4px solid rgba(0, 0, 0, 0.75);
    user-select: none;
}

.spinBtn::before {
    content: "";
    position: absolute;
    top: -20px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:
        0 0 0 5px #333,
        0 0 0 15px #fff,
        0 0 0 18px #111;
    transition: transform 5s ease-in-out;
}

.container .wheel .number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    transform-origin: bottom right;
    clip-path: polygon(0 0, 59% 0, 100% 100%, 0 59%);
}

.number--one {
    background: #d25353;
    transform: rotate(calc(45deg * 1));
}
.number--two {
    background: purple;
    transform: rotate(calc(45deg * 2));
}
.number--three {
    background: yellow;
    transform: rotate(calc(45deg * 3));
}
.number--four {
    background: green;
    transform: rotate(calc(45deg * 4));
}
.number--five {
    background: blue;
    transform: rotate(calc(45deg * 5));
}
.number--six {
    background: orange;
    transform: rotate(calc(45deg * 6));
}
.number--seven {
    background: brown;
    transform: rotate(calc(45deg * 7));
}
.number--eight {
    background: wheat;
    transform: rotate(calc(45deg * 8));
}
